*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#000;
}
.title::after{
    content: '';
    background-color: #1c1ab4;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
img{
   width: 100%;
   height: 500px;
   margin-top: 20px;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}
.intro{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    color:#333;
    font-weight: 600;
}
.application-box {
    background-color:#e28d8d; 
    border: 2px solid #580505;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 250ms; 
}
.application-box:hover{
    transform: translateY(-10px);
    color: #000;
}
.application-box h2 {
    color: #333;
}

.application-box p {
    color: #555;
    margin-top: 10px;
}

.download-box {
    text-align: center;
}
.download-box p{
    color: #333;
}

.download-btn {
    background-color: #c70d0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.download-btn:hover {
    background-color: #dd4444;
}
.row{
    display: flex;
    justify-content: space-around;
   
}
footer{
    background-color: #e2dada;
}
.footer-bottom {
    margin-top: 10px;
    font-size: 12px;
    color: #000;
    text-align: center;
}
.col{   
    background-color: #e28d8d;
    border: 2px solid  #912828;
    padding: 20px;
    text-align: center;
    height: 700px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 250ms; 
 
}
.col:hover{
    transform: translateY(-10px);
}
h2{
    text-decoration: underline;
}
strong {
    text-decoration:underline;
}
#nb{
    text-decoration: none;
}
h4{
    text-align: center;
    font-size: 2em;
    color: #333;
}
body{
    background-color: whitesmoke;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    
    background-color: #e2dada;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);
    width: 100%;
    height: fit-content;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    color: #580505;
    height: 150px;
}


nav a{
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:  rgb(118, 6, 6)
}
nav a:hover{
    background-color: #d36868;
}
nav ul li a img:hover{
    background-color: #fff;
}
.logo{
   height: 65%;
}
nav li:first-child{
    margin-right: auto;
}

