*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    background-color: #e2dada;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);
    width: 100%;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:  rgb(118, 6, 6);
}
nav a:hover{
    background-color: #d36868;
}

nav li:first-child{
    margin-right: auto;
    
}

.sidebar{
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width: 150px;
    z-index: 999;
    background-color: #f0f0f047;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100vh;
}

.sidebar a{
    width: 100vh;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #e2dada;  
    padding: 100px 0 30px 30;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);
    z-index: 100;
} 

fieldset{
    width: 80%;
    border-radius: 15px;
    position: relative;
    background-color: rgba(204, 96, 89, 0.8);  
    backdrop-filter: blur(5px);
    border-color: #8c0808;
    padding: 100px 0 30px 30;
    margin: 5% auto;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);
    margin-bottom: 150px;
}

.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);

}

.roww{
    width: 80%;
    height: fit-content;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);
    background-color:rgb(172, 190, 196);
}

.colunm{
    display: flex;
    padding: 10px;
    text-align:justify;
    flex:1;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

i:hover{
    background-color: #fbb1b1;
}

i,p,h1,h2,h3,h4,h5,h6{
    color: rgb(118, 6, 6);
}

.boxes{
    margin: 3%;
    padding: 3%;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; 
  max-width: 500px;
 
}
.box{
    flex: 1 1 calc(50% - 10px);
    min-width: 200px;
    background-color:rgba(244, 124, 124, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);
    padding: 1%;
    border-radius: 15px;
    
}

.pic{
    width: 220px;
    height: 220px;
    margin: 2%;
    box-shadow: 3px 3px 5px rgba(32, 29, 29, 0.947);

}

img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(232, 21, 21, 0.8), 0 0 40px rgba(247, 33, 33, 0.6);
}
fieldset:hover{
  
    box-shadow: 0 0 20px rgba(232, 21, 21, 0.8), 0 0 40px rgba(247, 33, 33, 0.6);
}



@media(min-width:800px){
    .menuItem{
        display: none;
}
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    
}
@media(max-width: 400px){
    .sidebar{
        width: 100%
    }
}
